/*start header*/

.header {
    min-height: 70vh;
    padding: 15px;
}

.container {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.links {
    justify-content: space-around;
}

.links li a {
    font-size: 16px;
    font-weight: bolder;
}

.links li a:hover {
    font-size: 18px;
}

.contenuHeader {
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.contenuHeader h1 {
    font-size: 1.9rem;
    letter-spacing: 3px;
}

.contenuHeader p {
    font-size: 14px;
}


/*end header*/


/*start nav*/

nav h3 {
    font-size: 14px;
}

.listSport {
    margin-top: 50px;
    margin-bottom: 10px;
}

.listSport .cardio {
    width: 70%;
    height: 290px;
    font-size: 22px;
    margin-bottom: 20px;
}

.listSport .yoga {
    width: 70%;
    height: 290px;
    font-size: 22px;
    margin-bottom: 20px;
}

.listSport .dance {
    width: 70%;
    height: 290px;
    font-size: 22px;
    margin-bottom: 20px;
}


/*end nav*/


/*start section*/

.product-container {
    padding: 0 2vw;
}

.product-card {
    width: 30%;
    height: 300px;
    margin-right: 10px;
}

.product-category {
    font-size: 30px;
    margin-bottom: 30px;
}

.product-img {
    width: 100%;
    height: 255px;
}

.product-thumb {
    width: 100%;
    height: 255px;
}

.pre-btn i,
.nxt-btn i {
    font-size: 40px;
}


/*end section*/


/*section tarif*/

.tarif {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
}

.tarif-menu {
    background: black;
    color: white;
    width: 100%;
    text-align: center;
}

.tarif-menu h3 {
    font-size: 20px;
    letter-spacing: 5px;
}

.tarif-menu span {
    margin-left: 5px;
}

.tarif-menu ul li {
    padding: 10px;
    font-size: 14px;
}

.tarif-menu ul li:hover {
    font-size: 12px;
}


/*section contact*/

.container-contact {
    padding: 2rem;
    width: 80%;
    margin-bottom: 20px;
}

.form-control {
    position: relative;
    margin: 20px 0;
    width: 80%;
}

.form-control input {
    font-size: 16px;
    padding: 15px 0;
}

.form-control label {
    font-size: 18px;
    position: absolute;
    top: 20px;
    left: 0;
}

.button-btn {
    margin: 1rem auto;
    padding: 1rem 2rem;
}